<!DOCTYPE html>
<html lang="en">

<head>
	<!-- 内联引用 todo -->
	<title>search</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="viewport-fit=cover,width=device-width,initial-scale=1,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<script>
			<%=require('../../node_modules/lib-flexible/flexible.js?raw') %>
	</script>
</head>

<body>
	<div id="root">
		<!-- app -->
	</div>
	</div>
	<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
	<!-- app-data -->
</body>

</html>